<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>회원정보수정</h1>
<form>
    <div>
        <input type="hidden" name="id">
    </div>
    <div>
        <label>ID</label>
        <input type="text" name="userID" readonly>
    </div>
    <div>
        <label>Password</label>
        <input type="text" name="userPW">
    </div>
    <div>
        <label>Name</label>
        <input type="text" name="userName">
    </div>
    <div>
        <label>Email</label>
        <input type="text" name="userEmail">
    </div>
    <div>
        <button>회원정보수정</button>
    </div>
</form>
</body>
</html>