<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/board/{id}/detail(id=${boardDto.id})}" method="get">
    <input type="password" name="pw" placeholder="비밀번호 입력" />
    <button type="submit">확인</button>
</form>
<p th:text="${error}"></p>
<!--여기까지 했을 때는 detail url 링크가 변경되어서 페이지가 넘어가는 거는 확인 했는데-->
<!--텍스트는 변경이 안됨-->
<div class="mt-4 space-y-2 text-sm text-gray-600">
    <!-- 이전글 -->
    <div th:if="${prevBoardDto != null}">
        <a th:href="@{/board/{id}/detail(id=${prevBoardDto.id})}" class="link link-hover">
            이전글 : <span th:text="${prevBoardDto.title}">이전 글 제목</span>
        </a>
    </div>
    <div th:unless="${prevBoardDto != null}">
        이전 글이 없습니다.
    </div>

    <!-- 다음글 -->
    <div th:if="${nextBoardDto != null}">
        <a th:href="@{/board/{id}/detail(id=${nextBoardDto.id})}" class="link link-hover">
            다음글 : <span th:text="${nextBoardDto.title}">다음 글 제목</span>
        </a>
    </div>
    <div th:unless="${nextBoardDto != null}">
        다음 글이 없습니다.
    </div>
</div>
</body>
</html>